@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
     font-family: "Jost", sans-serif;
    margin:0;
    padding: 0;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin:0 auto;
}
h4{
    font-weight: 400;
font-size: 26px;
color: #4e674f;
width: 210px;
}

p{
    color: #4E674F;
    font-weight: 400;
    font-size: 25px;
  
}



.text{
    font-weight: 400;
font-size: 18px;
color: #4e674f;
}

.photo{
    position: relative;
    
}

nav{
    display: flex;
    background-color: #ACD3AE;
    padding: 20px;
     max-width: 900px;
    margin:0 auto;
}

.nav-bg{
  background-color:#ACD3AE ;
}

.menu-link{
    background-color: #D9F1E2;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color:#4e674f ;
    margin-right: 15px;
    transition: 0.5s;
}
.menu-link:hover{
    background-color: #4E674F;
    color: #ACD3AE;
}

main{
     max-width: 900px;
    margin:0 auto;
    padding: 10px;
}

#help{
    background-color: #ACD3AE;
    text-align:center ;
    padding: 20px;
}

footer{
    background-color: whitesmoke;
    
    margin:0 auto;
    padding: 10px;
    text-align: center;
}

iframe{
    max-width: 900px;
}

#animals{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

article{
background-color: #F6F9FA;
padding: 10px;
box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
transition: 0.5s;
}

article:hover{
    transform: scale(1.05);
}
